.container {
  min-height: 100%;
  background: linear-gradient(
    180deg,
    rgba(106, 130, 251, 0.46) 0%,
    rgba(252, 92, 125, 0.62) 100%
  );
  overflow:auto;
}

.grid {
  display: grid;
  /* min-width: 1000px; */
  margin: 0 auto;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 60px;
  align-items: center;
}

.grid_checkbox {
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
